<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nbourses.oyeok"
    android:versionCode="18"
    android:versionName="1.2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="com.nbourses.oyeok.permission.C2D_MESSAGE" />

    <permission
        android:name="com.nbourses.oyeok.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme"
        tools:replace="android:icon" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-1FOjfeKbpUOPqc-HLOGAnSN-H5Y2csI" />
        <!--
            <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        -->


        <!-- database configuration -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="oyeok.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            tools:replace="android:value" />
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" />
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_gpoR1VetegoPeRneNULC1oldDsi2k2bc" />
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_gcmGQgmIeRzFryNcIysLtkdcyAdjaK8x" />

        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".helpers.General" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".RPOT.PriceDiscovery.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>






       <!-- start pubnub register our Broadcast Receiver and Service -->
        <receiver
            android:name=".GoogleCloudMessaging.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.nbourses.oyeok" />
            </intent-filter>
        </receiver>
        <service android:name=".GoogleCloudMessaging.GcmIntentService" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- stop pubnub register our Broadcast Receiver and Service -->

        <!--
        <activity
            android:name=".RPOT.PriceDiscovery.UI.QrCode.CaptureActivityAnyOrientation"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        -->


        <!--
        <service android:name="com.nbourses.oyeok.NotificationListener.NotificationService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">

            <intent-filter>

                <action android:name="android.service.notification.NotificationListenerService" />

            </intent-filter>

        </service>
        -->
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.nbourses.oyeok.GoogleCloudMessaging" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_listener] -->
        <service
            android:name=".GoogleCloudMessaging.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".GoogleCloudMessaging.MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".GoogleCloudMessaging.RegistrationIntentService"
            android:exported="false" >
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5cb2d245b093b24fceb1a6a8d63dcfaf38688f1d" />

        <activity
            android:name=".activities.ClientMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.ClientDealsListActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name=".services.DeviceRegisterService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.DealConversationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.BrokerDealsListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.BrokerMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.SplashScreenActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="oyeok" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.browser"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_browser"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

</manifest>
